  <div class="container" id="home-container">
    <div class="mt-5 p-5 text-white rounded text-center">
      <h1>Alpha Blog</h1>
      <h5>Sign up today!</h5>
      <p>Welcome to my blog!</p>
      <button type="button" class="btn btn-primary">Sign up!</button>

    </div>
  </div>

  <p>
    <%= link_to 'Articles listing', articles_path %>
  </p>
  <p>
    <%= link_to 'About page', about_path %>
  </p>
