  <div class="container">
    <div class="mt-4 p-5 bg-secondary text-white rounded text-center">
      <h1>Alpha Blog</h1>
      <h5>Sign up today!</h5>
    </div>
  </div>

  <p>
  <%= link_to 'Articles listing', articles_path %>
</p>
<p>
  <%= link_to 'About page', about_path %>
</p>