  <!-- Footer -->
  <footer class="bg-info text-center text-lg-start fixed-bottom">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(188, 186, 186);">
      Developed by JPS
    </div>
    <!-- Copyright -->
  </footer>
